@import "~bootstrap/scss/bootstrap";
@import "open-iconic/font/css/open-iconic-bootstrap.css";

body {
  margin: 0;
  font-family: " Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  color: #000;
  background-color: #fff;
}

.navbar {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .15em;

  .navbar-brand {
    img {
      position: relative;
      top: -7.5px;
    }
    font-size: 13px;
  }

  a.nav-link {
    padding-top: 0;
  }
}

.jumbotron-fluid {
  height: 100vh;
  background-position: center;
  background-size: cover;
  bacground-repeat: no-repeat;
  background-image: url(../resources/img/start_your_journey.jpg);
}

.jumbotron-inner {
  .brand {
    font-size: 2.5rem;
    letter-spacing: .45em;
  }

  .tagline {
    letter-spacing: .04em;
  }
}

@include media-breakpoint-up(sm) {
  .container.mx-auto {
    width: max-content;
  }
}

.container.call-to-action {
  width: min-content;
}

.btn.call-to-action {
  @extend .px-5;
  @extend .py-3;
  color: $white;
  font-size: 18px;
  font-weight: $font-weight-light;
  background-color: $orange;
  border-color: $orange;
}

#home section {
  padding: 100px 0px;

  &.quote {
    color: $white;
    padding: 50px 0px;

    .quote-text {
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 1.75rem;

    .brand {
      text-transform: uppercase;
      font-style: italic;
      font-weight: bold;
      letter-spacing: .25em;
    }
  }

  h6 {
    text-transform: uppercase;
    color: #BEC8CE;
    letter-spacing: .15em;
    font-size: .75rem;
  }

  .headers {
    max-width: 75%;
  }
}

#sample-goals {
  img {
    height: 450px;
    width: 450px;
  }

  #run-a-marathon {
    background-image: url(../resources/img/run_a_marathon.jpg);
  }

  .sample-goal {
    @extend .text-light;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
  }
}

#home section.list {
  @include media-breakpoint-down(sm) {
    padding-left: $spacer * 3;
    padding-right: $spacer * 3;
  }

  .flex-column div {
    margin-bottom: 2rem;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 80px;
    }
  }

  @include media-breakpoint-up(sm) {
    ul {
      display: flex;
      flex-direction: row;

      li {
        max-width: 50%;
        flex: 1 1;
      }
    }
  }

  .icon-container {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 36px;
    text-align: center;
    line-height: 0;
    width: 60px;
    color: $orange;
  }

  .flex-row {
    flex-wrap: wrap;
    li {
      max-width: 50%;
    }
  }
}

.quote {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $orange;
}